@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
.wid-5{
  width:5%;
}
.wid-7{
  width:7%;
}
.wid-10{
  width:10%;
}
.wid-15{
  width:15%;
}
.wid-20{
  width:20%;
}
.wid-30{
  width:30%; 
}
.wid-40{
  width:40%;
}
.wid-50{
  width:50%;
}
.wid-60{
  width:60%;
}
.wid-70{
  width:70%;
}
.wid-80{
  width:80%;
}
.wid-90{
  width:90%;
}
.wid-95{
  width:95%;
}
.wid-100{
  width:100%;
}
.navbar{
  box-shadow: 0.3px 0.5px 0.1px 0.1px #24b7a73d;
  z-index:999;
  position:fixed;
  width:100%;
  height:60px;
  top:0;
  left:0;
}
.navbar .btn{
  margin:0 10px;
}

.alignend{
  /* margin-right:56vw; */

}
.logoutbtn{
  position:absolute;
  right:8px;
  top:12px;
}

.fontWeight
{
font-weight: 600;
}
/* .footer{
  background-color:rgb(0, 137, 123);
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  height:auto;
  position:fixed;
  bottom:0;
  padding:0px 0 0 0;
} */
.main{
  width:100%;
  margin:4% 0 0 0;
  display:flex;
  
}
/* .main .menu{
  display:flex;
  justify-content:center;
  flex-direction:column;
  margin: 0 1.1%;
} */
.main .menu .btn{
  width:100%;
  box-shadow:none;
}
.empdeatils{
  padding:1.1% 1.5% 0 0;
  overflow-y:scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  padding:0px 1.5%;
  position:fixed;
  right:0;
  width:75%;
  height:91%;
  top:9%;
}
.headsec{
  display:flex;
  align-items:center;
  justify-content:space-between;
  /* margin-top: 5px; */
  margin-bottom:0px;
  padding:0.5% 0;
  position:sticky;
  top:0;
  background-color:white;
  z-index:998;
}


.avatarT{
  border: #f8f9fa !important;
  background-color: #f8f9fa !important;
}

table,th,td{
  border-collapse:collapse;
  /* border:1px solid black; */
  border-bottom:1px solid #6c757d4a;
  text-align:center;
  padding:8px 7px;
}
/* table th{
  position:sticky;
  top:0px;
} */

.adddetails{
  bottom:35%;
  right:1.5%;
  /* display:flex; */
  position:fixed;
}

/*Addform section*/
.addform{
  margin-top:7%;
  display:flex;
  align-items:center;
  flex-direction:column;
}
.addform form{
  /* border:1px solid black; */
  width:45%;
  padding:3%;
  display:flex;
  flex-direction:column;
  /* box-shadow:1px 2px 6px 0.5px black; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.loginpage form{
  width:100%;
  padding:3%;
  display:flex;
  flex-direction:column;
  /* box-shadow:1px 2px 6px 0.5px black; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
form input{
  margin:0 0 3% 0;
}
form textarea{
  margin:0 0 3% 0;
}

form input:focus{
  box-shadow:none;
}
form textarea:focus{
  box-shadow:none;
}
form select:focus{
  box-shadow:none;
}
button{
  box-shadow:none;
}

.modifysec i{
  font-size:14px;
  color:black;
  margin:5%;
}
.modifysec i:hover{
  color:blue;
  
}
.allemployee{
  /* padding-top:20px; */
  overflow-y:scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  position:fixed;
  height:91%;
  width:100%;
  display:flex;
  /* align-items:center; */
  /* justify-content:center; */
  top:9%;
}

.allemployee .card{
  display:flex;
  align-itdems:center;
  justify-content:center;
  width:100%;
  border:1px solid #24b7a752;
  border-radius:20px;
  padding:8px;
  overflow:hidden;
  color:#26A69A;
  /* height:100%; */
  /* box-shadow:1px 0px 3px 2px ; */
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  
}
.allemployee .card:hover{
  transform:scale(1.054);
  transition:all 0.7s ease;
}
.emppic{
  /* height:18vh; */
  width:130px;
  height:130px;
  /* height:100%; */
  border:1px solid #24b7a752;
  border-radius:100px;
  /* margin-right:10px; */
  display:flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;
}
.emppic img{
  width:130px;
  height:130px;
  border-radius:100px;
  border:2px solid rgba(0, 137, 123, 0.3);
}
.empprofile{
  position:fixed;
  width:100%;
  /* height: 100%; */
  height:91%;
  overflow-y:scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  top:9%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top:5%; */
  /* background-color: green; */
}
.emppropic{
  width:100%;
  height:100%;
  border:1px solid rgba(0, 137, 123);
  border-radius:20px;
  margin-right:10px;
  display:flex;
  align-items:center;
  justify-content:center;
  overflow: hidden;
  object-fit: cover;
}
.emppropic img{
  width:100%;
  height:500px;
}
.emailtext{
  font-size:14px;
}
.authpic{
  overflow: hidden; 
  width: 100%; 
  height: 50%;
  border:1px solid rgba(0, 137, 123, 0.8);
  border-radius:10px;
}
.authpic img{
  width:100%;
  height:100%;
}
.choosestatus{
  padding:0 2px;
  border:none;
  box-shadow:none;
}
.choosestatus:focus{
  box-shadow:none;
}
.profileimgbox{
  display:flex;
  align-items:center; 
  justify-content:center; 
  border:1px solid black; 
  margin-bottom: 3%;
  overflow:hidden; 
  width:100%;
  height:200px;
  object-fit: cover;
  border-radius: 10px;
}
.profileimgbox img{
  width:100%;
  height:200px;
}
.empropic{
  height:50vh;
}

.btn{
  border:none;
  background-color:#24b7a7;
  color:white;
  /* outline:none; */
}
.btn:focus{
  box-shadow:none;
}
.active{
  border:none;
  background-color:#26A69A;
  box-shadow:none;
}
.btn:hover{
  background-color:#26A69A;
  color:white;
}

.login-logo{
  border:1px solid #24b7a7;
  overflow:hidden;
  /* height:15vh; */
  width:35%;
  border-radius:100px;
  /* padding:10px; */
  display:flex;
  align-items:center;
  justify-content:center;
}
.login-logo img{
  /* height:15vh; */
  width:100%;
  height:auto;
}
.loginpage .card{
  border:none;
  background-color:none;
}
.loginpage .card-header{
  border:none;
  background-color:white;
}
.menu{
  display:flex;
  justify-content:center;
  flex-direction:column;
  position:fixed;
  width:25%;
  height:91%;
  left:0;
  top:9%;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  overflow-y:scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.menu .menudiv{
  display:flex;
  align-items:center;
  justify-content:start;
  background-color:rgba(0, 137, 123, 0.1);
  /* width:100%; */
  /* margin:0px 0; */
  /* border-bottom:1px solid #24b7a7; */
}
.menu .menudiv:hover{
  /* background-color:#24b7a7; */
}
.menu .menuimg{
  width:45px;
  height:45px;
  /* border:1px solid #6c757d4a; */
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:100px;
  margin-right: 10px;
  margin-left:5px;
  overflow:hidden;
}
.menu .menuimg img{
  width:45px;
  height:45px;
  border-radius: 100px;
}
.allemp{
  /* overflow: hidden; */
  /* width:300px; */
  /* width:100%; */

}
.allemp .btn{
  border-radius:0;
  padding:0 0 0 5px;
  /* border-top:1px solid #26A69A; */
  overflow:hidden;
  margin:0 0;
  /* background-color:rgba(0, 137, 123, 0.3); */
  background-color:white;
  color:black;
}
.allemp .btn.active{
  background-color:rgba(0, 137, 123, 0.2);
  color:white;
}
/* .allemp .btn{
  background-color:rgba(0, 137, 123, 0.3);
  color:black;
} */
.allemp .btn:hover{
  background-color:rgba(0, 137, 123, 0.01);
  color:white;
}
.menuname{
  width:85%;
  /* border-top:1px solid #26A69A; */
  border-bottom: 1px solid #6c757d29;
  padding:17px 0;
  text-align:start;
  color: rgba(0, 0, 0, 0.852)

}
/* .menu{
  overflow-y:scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
} */
.empdeatils{
  
}
.menusearch{
  background-color:white;
  position:sticky;
  top:0px;
  padding:1.2% 0 0 0;
  /* width:20%; */
  /* display:flex; */
  /* justify-content:center; */
  /* align-items: center; */
  width:100%;
}
.menusearch input{
  width:100%;
}
.dotmenu{
  position:absolute;
  top:0;
  right:0;
  margin:10px;
}
.dotmenu .btn{
  background-color: transparent;
  color:black;
}
.dotmenu .btn:focus{
  box-shadow: none;
}


.cursor-pointer {
  cursor: pointer;
}
/* .navlink-custom {
  text-decoration: none; /* Remove default underline */
/* } */

/* .navlink-custom:hover .menudiv {
  background-color: #26a69950; /* Change background color to Bootstrap primary color on hover */
/* } */

/* .navlink-custom:hover .menuname {
  color: black; /* Change text color to black on hover */
/* }  */

.navlink-custom {
  text-decoration: none; /* Remove default underline */
}

.navlink-custom:hover .menudiv,
.navlink-custom.active-link .menudiv { /* Apply the same styles for active link */
  background-color: #26a69950; /* Change background color to Bootstrap primary color */
}

.navlink-custom:hover .menuname,
.navlink-custom.active-link .menuname { /* Apply the same styles for active link */
  color: black; /* Change text color to black */
}

.active-link .menudiv { /* Change background color for active link */
  background-color: #26a69950; /* Change to your preferred color */
}





.menuname {
  transition: color 0.3s ease; /* Smooth transition for text color change */
}



.text-muted {
  color: #6c757d !important;
  font-size: 13.7px;
}

.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.loader-container2 {
  position: fixed;
  top: 50%;
  left: 100%;
  
  transform: translate(-50%, -50%);
  z-index: 9999;
}


.bi-trash3-fill::before {
  content: "\f78a";
  color: rgba(255, 0, 0, 0.702);
}

.textBlue
{
  color: rgba(0, 0, 255, 0.692)!important;
}

.textRed
{
  /* color: rgba(255, 0, 0, 0.585)!important; */
  color: rgba(239, 154, 154);
}
.textYellow
{
  color: rgba(255, 155, 59)!important;
}.textGreen
{
  color: rgba(0, 137, 123)!important;
}
.modal{
  
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  /* padding: 1rem; */
  
}
.modal-backdrop{
  
  width:auto;
  height:auto;
}
.modal-content {
  width:100%;
  height:100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 25px;
  /* background-color:rgb(240, 238, 230); */
  /* padding:10px; */
  
}
.messagebtn{
  position:fixed;
  /* bottom:33px; */
  bottom:15px;
  right:1.3%;
  /* padding:0px 5px; */
}

.offcanvas{
  width:25%;
  height:68%;
  border:1px solid rgb(0, 137, 123);
  position:fixed;
  right:1.5%;
  bottom :10%;
  transform: translateX(100%);
  border-radius: 10px;
  overflow-y: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.offcanvas-footer{
  position:sticky;
  /* margin-top:110%; */
  bottom:0;
  background-color: white;
  padding:5.7px 0;
  width:100%;
}
.offcanvas-footer form{
  width:100%;
  padding:0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offcanvas-footer form input{
  width:90%;
}
.offcanvas-footer form input,button{
  border-radius: 10px;
  padding:5px 8px;
  margin:0 3px;
  outline:none;
  border:1px solid rgb(0, 137, 123);
}
.offcanvas-header{
  height:45px;
  position:sticky;
  top:0;
  width:100%;
  background-color: white;
}
.offcanvas-bodys{
  padding:0 15px;
  width:100%;
  display: flex;
  /* align-items: start; */
  flex-direction: column;

}
.offcanvas-bodys .getmessage{
  border:1px solid rgba(0, 137, 123, 0.1);
  margin:6px 0;
  padding:5px 7px 0 8px;    
  border-radius: 10px;
  /* overflow: hidden; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.msgbody{
  overflow: hidden;
  padding-top:4px;
}
.getmessage:hover .btn{
  display: flex;
  align-items: center;
}
.chatdotmenu .btn{
  background-color: transparent;
  color:black;
  padding:0;
  display: none;
  /* border:1px solid black; */
  /* margin: 0; */
}
.chatdotmenu .btn:focus{
  box-shadow: none;
}
/* .addempbtn{
  position:fixed;
  bottom:2%;
  right:1%;
} */
